html, body {
  padding: 0;
  margin: 0;
  height: 100%;
}

#root {
  height: 100%;
}

.leaflet-container {
  height: 100%;
  width: 100%;
}

.leaflet-marker-pane > * {
  transition: transform 1s linear;
}
